@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#footer1-3 P {
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
#menu-e .navbar-toggler {
  color: #000;
}
#menu-4 .navbar-toggler {
  color: #000;
}
#footer1-5 P {
  color: #000000;
}
#menu-6 .navbar-toggler {
  color: #000;
}
#footer1-7 P {
  color: #000000;
}
#form1-8 .mbr-section-title {
  color: #ffffff;
}

#footer1-f P {
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
#menu-g .navbar-toggler {
  color: #000;
}
#msg-box4-m .lead UL {
  text-align: center;
}
